/* This stylesheet is used to override picocss styles  */

@import url("https://fonts.googleapis.com/css2?family=Spectral+SC:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");

/* *root{
  --BG-COLOR:#
} */

body {
  margin: 0;
  font-family: "Titillium Web", sans-serif;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 1.5px;
  overflow-y: auto;
  /* background-color: #001427; */
  background: linear-gradient(#0a9396, #005f73);
}

.body {
  display: flex;
  flex-direction: column;
  position: relative;
}

.main {
  color: #001427;
  display: flex;
  white-space: nowrap;
}

/* LOGIN PAGE */
/* .login {
  height: 100vh;
  background: linear-gradient(#0a9396, #005f73);
  color: #001427;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */
/* .login__header {
  display: flex;
  gap: 1rem;
}
.login__header svg {
  font-size: 5rem;
}
.login__header h1 {
  font-family: "Spectral SC", serif;
  font-size: 4rem;
  color: #001427;
  margin-bottom: 0rem;
}
.login a {
  color: #94d2bd;
}
.login__form:hover {
  opacity: 1;
}

.login__form {
  width: 25%;
  /* opacity: 0.5; */
  justify-self: center;
  background-color: #001427;
  /* opacity: 0.5; */
  border-radius: 5px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: #94d2bd;
}
.login__form button {
  background-color: #003049;
  height: 2.5rem;
  padding: 0.2rem;
  border: 1.5px solid #94d2bd;
}
.login__form form {
  padding-right: 2rem;
  padding-left: 2rem;
}

.login__form div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login__form input::placeholder {
  color: #94d2bd;
}
.login__form input {
  width: 100%;
  padding: 0.2rem;
  margin-bottom: 0.5rem;
  text-align: center;
  height: 2.5rem;
  padding-left: 0.5rem;
  border: 1.5px solid #94d2bd;
  color: #94d2bd;
} */

/* .login__user {
  border: 2px solid #94d2bd;
  border-radius: 50%;
  font-size: 5.5rem;
  padding: 0.5rem;
  margin: 1rem;
} */

/* HEADER */
.header {
  display: flex;
  width: 100%;
  position: absolute;
  top: 0;
  justify-content: space-between;
  background-color: #001427;
  border-bottom: 1px solid #94d2bd;
}

.header__h1 {
  padding: 0rem 0.2rem 0rem 0rem;
  margin: 0rem;
  font-family: "Spectral SC", serif;
  font-weight: normal;
  font-size: 1.5rem;
}

.header__profile {
  color: #ecebf3;
  font-size: 1.5rem;
  padding: 0.3rem 2rem;
  display: flex;
  align-items: center;
}

.header__profile p {
  text-align: center;
  margin-bottom: 0;
}

.header svg {
  margin: 0.2rem;
}

.header a:hover {
  background-color: #001427;
  color: #008b8e;
}

/* NAV */
.nav {
  background-color: #0a9396;
  width: 28%;
  height: 100vh;
  padding: 2rem 1rem;
  border-right: 2px solid #001427;
}

.nav ul {
  flex-direction: column;
  flex-grow: 1;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  margin: auto;
}

.nav a {
  width: 100%;
  color: #ecebf3;
  font-weight: bold;
}

.nav li {
  display: flex;
  padding: 1rem 2rem;
  gap: 0.3rem;
}

.nav li:hover {
  border-top: 2px solid #001427;
  border-bottom: 2px solid #001427;
  background-color: #0014273a;
}

.nav li svg {
  font-size: x-large;
  font-weight: bolder;
  padding-top: 0.1rem;
}

.active {
  background-color: #001427;
}
/* .active li {
  color: #;
} */

#error-page {
  background-color: #94d2bd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
#error-page h2 {
  margin-bottom: 1rem;
}

/* OUTLET */
.outlet {
  padding: 1rem 2rem;
  background-color: #f3f3f3;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
}

.outlet h2 {
  font-family: "Spectral SC", serif;
  font-size: 3rem;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  text-decoration: double underline #001427 3px;
  white-space: break-spaces;
}

.outlet form {
  width: 50%;
}
.outlet form button {
  background-color: #001427;
  color: #ecebf3;
}

.outlet form button:hover {
  background-color: #0a9396;
  color: #001427;
  border: 2px solid #001427;
}

/* EVERYTHING ELSE 🥴 */
.form__error {
  text-align: center;
  color: crimson;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
form:has(.table) {
  width: 100%;
}

.table th,
.table td {
  border: 2px solid #001427;
  text-align: center;
  padding: 0.2rem;
}

.table thead th {
  background-color: #001427;
  /* border: 2px solid #ecebf3; */
  color: #ecebf3;
}

.table select {
  width: 100%;
  text-align: center;
}

.table td:has(button) {
  padding: 0rem;
}
.table td button {
  border: none;
  border-radius: 0;
}

.outlet select:disabled {
  background-color: #f3f3f3;
  background-image: none;
  opacity: 1;
}

.outlet input[type="checkbox"]:disabled {
  background-color: #001427;
}

#table__td > .table__input {
  line-height: 20px;
  padding: 0;
  font-size: 0.7rem;
  height: 2rem;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}

.time_schedule form {
  width: 100%;
}

.time_schedule tbody th {
  background-color: #001427;
  color: #ecebf3;
  font-size: large;
}

.outlet form input,
select {
  padding: 0.2rem 1rem;
  width: 100%;
  height: 2.5rem;
}

.form__select {
  width: 100%;
}
.form__select option {
  padding: 0.5rem;
}

.form__redirect a {
  color: #001427;
  text-decoration: double;
}

.outlet h3 {
  margin-bottom: 0.5rem;
}

.soon p {
  white-space: normal;
  width: 100%;
}

.form__head form {
  display: flex;
  gap: 1rem;
  width: 100%;
}
/* .form__head button {
  margin-left: 10rem;
} */

.attendance__head form {
  display: flex;
  gap: 1rem;
  width: 100%;
}

/* .attendance .attendance__head form:first-child {
  width: 16rem;
} */

.attendance .attendance__head form select[name="hour"] {
  width: 10rem;
}

.internal__body form input {
  width: 8rem;
  margin-bottom: 0;
  padding: 0 1rem;
  height: 2rem;
  border: none;
}

.internal__body form input:focus {
  box-shadow: none;
}

.outlet form input:disabled {
  opacity: 1;
  background-color: inherit;
}

.attendance__form td {
  height: 3rem;
}

.attendance__form .table input {
  width: 2rem;
  font-size: 1.5rem;
  height: 2rem;
  background-color: #001427;
  accent-color: #001427;
}

.outlet a {
  color: #001427;
}

.footer {
  display: flex;
}

/* PAPER */
.outlet h3 {
  font-family: "Titillium Web", sans-serif;
}

.outlet .notes article {
  background-image: linear-gradient(90deg, #a9d6e5, #cfebf4);
}

.outlet .paper article {
  background-image: linear-gradient(#a9d6e5, #bee1e6);
}

.notes__list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 4rem;
}
.notes__list li {
  list-style: none;
  padding: 0.2rem;
}
.notes__list a {
  color: #ecebf3;
}
.notes__list li:has(a) {
  background-color: #0a9396;
  border: 2px solid #001427;
  border-radius: 5px;
}

.note__head {
  display: flex;
  justify-content: space-between;
}

.note__icons svg {
  margin-left: 0.5rem;
  font-size: 1.5rem;
}

.outlet article p,
.outlet hr {
  white-space: normal;
  color: #001427;
  font-family: BlinkMac, SystemFontBlinkMac, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
}
.outlet hr {
  border-color: #001427;
}

.outlet textarea {
  width: 100%;
}

.notes pre {
  font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  background-color: transparent;
  color: inherit;
}

.notes form {
  width: 100%;
}
.register {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__head {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-right: 2rem;
}
.teacher {
  width: 50%;
  padding: 1rem;
  font-family: "Titillium Web", sans-serif;
  display: flex;
  border-radius: 5px;
  justify-content: flex-start;
  background-color: #001427;
  color: #94d2bd;
}

.teacher h2 {
  font-family: "Titillium Web", sans-serif;
  margin-bottom: 0rem;
  color: #94d2bd;
}

.teacher a {
  font-family: "Spectral SC", serif;
  font-size: 1.2rem;
  color: #ecebf3;
}
.teacher label {
  color: #94d2bd;
}

.teacher form,
.teacher input,
.teacher select {
  width: 100%;
  color: #94d2bd;
  border-color: #94d2bd;
  border-width: 1.5px;
}
.teacher input {
  height: 2.5rem;
}

.teacher button {
  background-color: #94d2bd;
  color: #001427;
}

.outlet details {
  margin: 0;
  padding: 0;
  border: 0;
}

.outlet .plus_btn:hover {
  background-color: forestgreen;
}
.outlet .delete_btn:hover {
  background-color: crimson;
  color: white;
}

.outlet summary h3 {
  padding: 0;
}

.note__container h3,
.note__container pre {
  white-space: pre-wrap;
}

.student__reg {
  color: grey;
}
.outlet .student__reg button {
  background-color: grey;
}

.dash {
  padding: 1rem 2rem;
  display: grid;
  place-content: center;
  grid-template-columns: 33% 33% 33%;
  gap: 0.5rem;
}

.dash a {
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  gap: 0.2rem;
}

.dash a:hover {
  background-color: #005f7381;
}

.dash svg {
  font-size: 4rem;
}

.dash p {
  color: #001427;
  white-space: break-spaces;
}

.bg-green {
  background-color: rgba(26, 199, 26, 0.2);
}

.bg-red {
  background-color: rgba(203, 27, 27, 0.2);
}

.Toastify__close-button {
  width: auto;
}

.Toastify {
  font-size: large;
  letter-spacing: 0px;
}
