@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap");

@layer html {
  input {
    display: block;
  }
  .active {
    background-color: rgb(76 29 149);
    border-radius: 0.375rem;
  }
}
