@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Spectral+SC&display=swap");

@layer html {
  :root {
    --toastify-color-light: #7c3aed;
    --toastify-text-color-light: #ddd6fe;
  }

  input,
  select,
  textarea {
    background-color: transparent;
    display: block;
  }

  .text-balance {
    text-wrap: balance;

  }

form{
  accent-color: rgb(221 214 254);
}

  .select-img {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(124, 58, 237)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
    background-position: center right 1px;
    background-size: 1rem auto;
    background-repeat: no-repeat;
  }

  .radio:has(input:checked) {
    color: #a78bfa;
    font-weight: bold;
  }

  select:disabled {
    background-image: none;
  }

  .outlet-border {
    border-color: #020617;
    border-width: 4px;
    border-radius: 0.75rem;
  }

  .secondLast:nth-last-child(2){
    text-align: center;
  }

  #nav a.active {
    background-color: #4c1d95;
    border-radius: 0.375rem;
  }

  #register a.active {
    color: #8b5cf6 !important;
  }

  #resister #root .toast {
    color: #2e1065 !important;
  }
  #root .toast-body {
    color: #2e1065 !important;
  }
  #root .toast-rounded {
    border-radius: 6px !important;
    background-color: #ddd6fe !important;
  }

  .scrollWidth:-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollWidth {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  /* #root .toast-progress {
    background: #6d28d9 !important;
  } */

  @media (prefers-color-scheme: dark) {
    #nav a.active {
      background-color: #6d28d9;
      border-radius: 0.375rem;
    }
    #register a.active {
      color: #4c1d95;
    }
    option {
      background-color: #cbd5e1;
      color: #0f172a;
    }
    #root .toast {
      color: #e4e0fa !important;
    }
    #root .toast-body {
      color: #e4e0fa !important;
    }
    #root .toast-rounded {
      border-radius: 6px !important;
      background-color: #2e1065 !important;
    }
  }
}
